$number-column:10;

@function cal-width($n){
	@return percentage($n/$number-column);

}

@for $i from 1 to ($number-column +1){
	.col-#{$i}{
		width: cal-width($i);
	}
}

@mixin gen-grid($sizename){
	@for $i from 1 to ($number-column +1){
		.col-#{$sizename}-#{$i}{
			width: cal-width($i);
			color: #000;
			background-color: #f2accc; 
		}
	}
}
@include gen-grid("1");
@include gen-grid("m");
@include gen-grid("s");
@for $i from 1 through 5{
	.box-#{$i}{
		background-color: #555555 + #111111*$i; 
		height: 20px;
	}

}

@each $sizename,$width in ("s",400px),("m",800px),("l",1280px){
	@media only screen and (min-width: $width){
		@include gen-grid($sizename);
	}
}